<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>学IT - 后台管理系统</title>
  <?php include '/views/common/css.html';?>
</head>
<body>

<!-- 侧边栏 -->
<?php include '/views/common/aside.html';?>
<!-- 主体 -->
<div class="main">
  <div class="container-fluid">
    <!-- 头部 -->
    <?php include '/views/common/header.html';?>
    <div class="body course-category">
      <!-- 面包屑 -->
      <!--挖个坑-->
    </div>
  </div>
</div>

<?php include '/views/common/js.html';?>

<script type="text/html" id="tpl_addcategory">
  <ol class="breadcrumb">
    <li><a href="javascript:;">课程管理</a></li>
    <li class="active">{{title}}</li>
  </ol>
  <div class="category-add">
    <form action="" class="form-horizontal">
      <input type="hidden" name="cg_id" value="{{cg_id}}">
      <div class="form-group">
        <label class="col-md-4 control-label">名称</label>
        <div class="col-md-3">
          <input type="text" name="cg_name" value="{{type=='edit'?cg_name:''}}" class="form-control input-sm" placeholder="填写分类名称">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">级别</label>
        <div class="col-md-2">
          <select name="cg_pid" class="form-control input-sm">
            <option value="0">顶级分类</option>
            {{each top v i}}
            <!--当前编辑分类的pid==下拉列表中的id就默认选中-->
            <option value="{{v.cg_id}}" {{type=='edit' && v.cg_id==cg_pid ? 'selected':''}}>{{v.cg_name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">排序</label>
        <div class="col-md-1">
          <input type="text" name="cg_order" class="form-control input-sm" value="{{type=='edit'?cg_order:'10'}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">是否显示</label>
        <div class="col-md-3">
          <label class="checkbox-inline">
            {{if type=='edit'}}
            <input name="cg_is_hide" type="radio" value='0' {{cg_is_hide=="0"?"checked":""}}> 是
            {{else}}
            <input name="cg_is_hide" type="radio" value='0' checked> 是
            {{/if}}
          </label>
          <label class="checkbox-inline">
            <input name="cg_is_hide" type="radio" value='1' {{cg_is_hide=="1"?"checked":""}}> 否
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-8">
          <a href="javascript:;" class="btn btn-success btn-sm pull-right btn_save">{{btnText}}</a>
        </div>
      </div>
    </form>
  </div>
</script>

<script>
  require(["js/category/add"]);
</script>

</body>
</html>